@model Feed
@{
    Context.Response.ContentType = "application/atom+xml; charset=utf-8";
}
<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>@Model.Title</title>
    <link href="https://stephencoakley.com"/>
    <link href="@Model.SelfLink" rel="self"/>
    <subtitle>@Model.Description</subtitle>
    @if (Model.LastUpdated is DateTimeOffset date)
    {
        <updated>@date</updated>
    }
    <id>@Model.SelfLink</id>
    <author>
        <name>Stephen Coakley</name>
        <email>me@stephencoakley.com</email>
    </author>

    @foreach (var item in Model.Items)
    {
        <entry>
            <title>@item.Title</title>
            <link href="@item.Uri"/>
            <id>@item.Uri</id>
            @if (item.Authors != null)
            {
                @foreach (var author in item.Authors)
                {
                    <author>
                        <name>@author.Name</name>
                        @if (author.Uri != null)
                        {
                            <uri>@author.Uri</uri>
                        }
                    </author>
                }
            }
            @if (item.Tags != null)
            {
                @foreach (var tag in item.Tags)
                {
                    <category term="@tag"/>
                }
            }
            <updated>@item.DatePublished</updated>
            @* <summary type="html">@article.Summarize()</summary> *@
            <content type="html">@item.Html</content>
        </entry>
    }
</feed>
