@{
    Layout = "Layout";
    ViewData["Title"] = Model.Title;
}
@model Blog.Article

<article>
    <h1>@Model.Title</h1>

    <p class="postmeta">
        <time datetime="@Model.Date.ToString("o")" class="date">@Model.Date</time>
        <span class="author-by"> by </span>
        <span class="author"><a href="/about">@Model.Author</a></span>

        @foreach (var tag in Model.Tags)
        {
            <a class="tag" href="/category/@tag">@tag</a>
        }
    </p>

    @Html.Raw(Model.Html)
</article>

<aside id="bio">
    <div class="bio-image">
        <a href="/about">
            <img src="https://s.gravatar.com/avatar/4c0d6bf3fb628cc4ccd1d1613f421290?s=48"/>
        </a>
    </div>

    <div>
        <p>Hi! I'm <a href="/about"><strong>Stephen Coakley</strong></a>, a software engineer and committed Christian. I am passionate about faith, life, systems and web software, gaming, and music.</p>
        <p>Occasionally I write articles here about those things, mostly focused on web development or low-level programming.</p>
    </div>
</aside>

<h2>Comments</h2>
<script data-isso="https://comments.stephencoakley.com/" data-isso-css="false" data-isso-require-author="true" data-isso-require-email="true" src="https://comments.stephencoakley.com/js/embed.min.js"></script>
<section id="isso-thread"></section>
